{% extends "bootstrap/base.html" %} {% block title %}{{config.get('TITLE')}}{%
endblock %} {% block content %}
<div class="container">
    <div style="display: flex; justify-content: center">
        <h1>
            <b> {{ config.get('TITLE') }} </b>
        </h1>
    </div>

    <div class="jumbotron">
        <p style="font-size: 1.3em">
            Welcome to the Carford car shop system! You may check out the already registered people and their respective cars.
        </p>
        <p style="font-size: 1.3em">
            If you wish to register new people, cars, or make any other adjustments to the data here shown, access the <a href="/admin">Admin Panel</a>.
        </p>
    </div>

    <div class="jumbotron">
        <ul class="list-group">
            {% for person in persons %}
            <li class="list-group-item">
                <a
                    style="font-size: 1.3em"
                    href="{{url_for('webui.personview', person_id=person.id)}}"
                >
                    {{ person.id }}. {{ person.firstName }} {{ person.lastName }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
